
@font-face {
    font-family: Roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: Roboto Italic;
    src: url(./fonts/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: Roboto;
    margin: 0;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 38px;
    margin: 0;
    padding: 0;
    color: white;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: aliceblue;
}



button {
    background-color: #3882f6;
    border: none;
    text-align: center;
    padding: 10px 20px;
    margin-top: 12px;
    color: #f9faf8;
    border-radius: 5px;
    font-weight: 600;
}

.container_one {
    padding: 20px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up {
    max-width: 500px;
    margin-right: 24px;
}

img {
    width: 250px;
    height: auto;
    border-radius: 25px;
    box-shadow: 2px 2px 5px #808080;
}

#projector {
    width: 400px;
    border-radius: 0;
    box-shadow: 0 0 #1f2937 ;
}

#hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero_secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.container_two{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#info_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.top_movies {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
    margin: 24px 0px;
}

.text {
    margin-top: 16px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.container_three {
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-family: Roboto Italic;
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 16px;
}

.author {
    align-self: flex-end;
    margin-right: 100px;
    font-size: 22px;
    font-weight: 500;
}

.container_four {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.box {
    display: flex;
    background-color: #3882f6;
    padding: 75px; 
    border-radius: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
    max-width: 1000px;
}

.action_text {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    margin-bottom: 16px;
}

button.action_button {
    flex-shrink: 0;
    border: 2px solid #f9faf8;
}
